In [1]:
s = "hello"

In [2]:
s[0] = 'H'

TypeError: 'str' object does not support item assignment

In [3]:
a = [6, 9, 0]

In [4]:
a[0] = 100

In [5]:
a

[100, 9, 0]

КОРТЕЖИ (tuple)

In [6]:
t = (6, 9, 0)

In [7]:
t[0]

6

In [8]:
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [9]:
tt = (7, 't', '787987', [6, 4, 6])

In [10]:
tt

(7, 't', '787987', [6, 4, 6])

In [11]:
ttt = ()

In [12]:
ttt

()

In [13]:
t

(6, 9, 0)

In [14]:
tlist = list(t)

In [15]:
tlist

[6, 9, 0]

In [16]:
tlist[2] = 100

In [17]:
tlist

[6, 9, 100]

In [18]:
t

(6, 9, 0)

In [21]:
t = tuple(tlist)

In [22]:
t

(6, 9, 100)

In [23]:
a = [1]

In [24]:
a

[1]

In [25]:
t = (1)

In [26]:
t

1

In [27]:
t = (1,)

In [28]:
t

(1,)

In [29]:
tt = tuple('hello')

In [30]:
tt

('h', 'e', 'l', 'l', 'o')

In [31]:
tt[1:3]

('e', 'l')

In [32]:
len(tt)

5

In [34]:
aa = (4,7,8) + (3, 7,1)

In [35]:
aa

(4, 7, 8, 3, 7, 1)

In [36]:
for x in aa:
    print(x)

4
7
8
3
7
1

In [37]:
aa.append(6)

AttributeError: 'tuple' object has no attribute 'append'

МНОЖЕСТВА (set)

In [38]:
a = {6, 9, 0, 9, 4}

In [39]:
a

{0, 4, 6, 9}

In [44]:
a = {0, -100, -2, 'a', 'hello', 10000000000000000000,5, 'aaaaaaaaaa'}

In [45]:
a

{-100, -2, 0, 10000000000000000000, 5, 'a', 'aaaaaaaaaa', 'hello'}

In [46]:
type(a)

set

In [47]:
b = {}

In [48]:
type(b)

dict

In [49]:
b = set()

In [50]:
b

set()

In [51]:
type(b)

set

In [52]:
s = 'hello'

In [53]:
b = set(s)

In [54]:
b

{'e', 'h', 'l', 'o'}

In [55]:
a = ['hello', 6, 8, 3, 6, 6, -2, -5, -2, 'hello', 'v', 'm', 'v']

In [56]:
sa = set(a)

In [57]:
sa

{-2, -5, 3, 6, 8, 'hello', 'm', 'v'}

Проверка на уникальность

In [58]:
if len(a) == len(set(a)):
    print('yes')
else:
    print('no')

no

In [59]:
for x in sa:
    print(x)

3
6
v
8
m
hello
-5
-2

In [60]:
sa.add(5)

In [61]:
sa

{-2, -5, 3, 5, 6, 8, 'hello', 'm', 'v'}

In [62]:
sa.add(-5)

In [63]:
sa

{-2, -5, 3, 5, 6, 8, 'hello', 'm', 'v'}

In [64]:
sa.add(8,7)

TypeError: add() takes exactly one argument (2 given)

In [65]:
sa.add({8,7})

TypeError: unhashable type: 'set'

In [68]:
sa.update({9,7})

In [69]:
sa

{-2, -5, 3, 5, 6, 7, 8, 9, 'hello', 'm', 'v'}

In [70]:
sa.update({1,2}, {4, 10})

In [71]:
sa

{-2, -5, 1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'hello', 'm', 'v'}

In [72]:
sa.update([0,-6])

In [73]:
sa

{-2, -5, -6, 0, 1, 10, 2, 3, 4, 5, 6, 7, 8, 9, 'hello', 'm', 'v'}

In [74]:
sa.update('qwerty')

In [75]:
sa

{-2,
 -5,
 -6,
 0,
 1,
 10,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'e',
 'hello',
 'm',
 'q',
 'r',
 't',
 'v',
 'w',
 'y'}

In [76]:
sa.update({'qwerty'})

In [77]:
sa

{-2,
 -5,
 -6,
 0,
 1,
 10,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'e',
 'hello',
 'm',
 'q',
 'qwerty',
 'r',
 't',
 'v',
 'w',
 'y'}

In [78]:
sa.discard(5)

In [79]:
sa

{-2,
 -5,
 -6,
 0,
 1,
 10,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 'e',
 'hello',
 'm',
 'q',
 'qwerty',
 'r',
 't',
 'v',
 'w',
 'y'}

In [80]:
sa.discard(11)

In [81]:
sa

{-2,
 -5,
 -6,
 0,
 1,
 10,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 'e',
 'hello',
 'm',
 'q',
 'qwerty',
 'r',
 't',
 'v',
 'w',
 'y'}

In [82]:
sa.remove('hello')

In [83]:
sa

{-2,
 -5,
 -6,
 0,
 1,
 10,
 2,
 3,
 4,
 6,
 7,
 8,
 9,
 'e',
 'm',
 'q',
 'qwerty',
 'r',
 't',
 'v',
 'w',
 'y'}

In [84]:
sa.remove(11)

KeyError: 11

In [85]:
if 9 in sa:
    sa.remove(9)
else:
    print('no')

In [86]:
sa

{-2,
 -5,
 -6,
 0,
 1,
 10,
 2,
 3,
 4,
 6,
 7,
 8,
 'e',
 'm',
 'q',
 'qwerty',
 'r',
 't',
 'v',
 'w',
 'y'}

In [88]:
k = sa.pop()

In [89]:
k

1

In [90]:
sa.clear()

In [91]:
sa

set()

In [92]:
a = {1, 4, 0, 3, 5}

In [93]:
b = {1, 5, 0, 9, 6, 7}

In [97]:
c = a.union(b)

In [106]:
c = a | b

In [95]:
a

{0, 1, 3, 4, 5}

In [96]:
b

{0, 1, 5, 6, 7, 9}

In [98]:
c

{0, 1, 3, 4, 5, 6, 7, 9}

In [102]:
d = a.intersection(b)

In [107]:
d = a & b

In [100]:
a

{0, 1, 3, 4, 5}

In [101]:
b

{0, 1, 5, 6, 7, 9}

In [103]:
d

{0, 1, 5}

In [104]:
a.difference(b)

{3, 4}

In [108]:
a - b

{3, 4}

In [105]:
b.difference(a)

{6, 7, 9}

In [109]:
b - a

{6, 7, 9}

In [110]:
a.symmetric_difference(b)

{3, 4, 6, 7, 9}

In [111]:
a ^ b

{3, 4, 6, 7, 9}

In [112]:
a = {1,8,0}

In [113]:
b = {1,0, 8, 9,5}

In [114]:
a.issubset(b)

True

In [115]:
b.issubset(a)

False

In [116]:
a.isdisjoint(b)

False

In [117]:
a = {1,7,8}

In [119]:
b = {3,0, 6, 5}

In [120]:
a.isdisjoint(b)

True